<script lang="ts">

    import {Vue, Prop, Component} from "vue-property-decorator";
    import PlayCrossword from "./PlayCrossword.vue";

    @Component({
        components: {PlayCrossword}
    })
    export default class App extends Vue {

    }

</script>

<template>

    <div class="cmx-app">
        <PlayCrossword />
    </div>

</template>

<style lang="scss">

    @import "../scss/variables.scss";

    .cmx-app {
    }

</style>
