<script lang="ts">

    import {Vue, Prop, Component} from "vue-property-decorator";

    @Component({})
    export default class PlayCrosswordCell extends Vue {

        @Prop()
        letter!: string;

        @Prop()
        wordStart!: number;

        @Prop()
        cheat!: boolean;

        /** if active show textbox, else show written contents */
        active = false;

        /** written in the checkbox */
        contents = "";

        get input() {
            return <HTMLInputElement>this.$refs["input"];
        }

        /** means this cell has a letter and plays */
        get busy(): boolean {
            return !!this.letter;
        }

        get topClass() {
            return [
                this.active ? "active" : "",
                this.busy ? "busy" : "",
            ].filter(e => e);
        }

        get lbl() {
            return this.cheat ? this.letter : this.contents;
        }

        activate() {
            this.active = true;
            setTimeout(() => this.input.focus(), 1);
            this.$emit("click");
        }

        deactivate() {
            this.active = false;
        }
    }

</script>

<template>
    <div class="cmx-cw-cell"
         @click="activate"
         :class="topClass"
    >
        <input
            ref="input"
            v-if="active"
            type="text"
            v-model="contents"
            maxlength="1"
            pattern="\w"
            @blur="deactivate"
        >
        <span class="lbl" v-else>
            {{ lbl }}
        </span>

        <span v-if="wordStart" class="word-start">
            {{ wordStart }}
        </span>
    </div>
</template>

<style lang="scss">

    @import "../scss/variables";

    .cmx-cw-cell {
        width: $cmx-cw-cell-size;
        height: $cmx-cw-cell-size;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: -0.5px;
        position: relative;
        &.busy {
            border-color: black;
        }
        &.active {
            background-color: $cmx-cw-cell-active-color;
            input {
                background-color: $cmx-cw-cell-active-color;
            }
        }
        .lbl, input {
            text-align: center;
            padding: 0;
            border: 0;
            margin: 0;
            flex: 0 1;
            font-size: 1.2em;
            color: $primary;
        }
        input {
            max-width: 100%;
            &:focus {
                outline: none;
            }
        }
        .word-start {
            position: absolute;
            top: 2px; left: 2px;
            font-size: 0.8em;
            line-height: 0.8em;
        }
    }

</style>
