<script lang="ts">

    import {Vue, Prop, Component} from "vue-property-decorator";
    import { A, B, C, D, E, F, G, H, I, J, K, L, M, N, Ñ, O, P, Q, R, S, T, U, V, W, X, Y, Z, _ } from "../js/letters";
    import PlayCrosswordCell from "./PlayCrosswordCell.vue";

    interface IHint { n: number, t: string, a: string }

    @Component({
        components: {PlayCrosswordCell}
    })
    export default class PlayCrossword extends Vue {

        letters: Array<string[]>;
        wordStarts: Array<number[]>;
        hintsH: IHint[];
        hintsV: IHint[];

        /** if true it must give the answers */
        cheat = false;

        constructor() {
            super();

            this.letters = [
                [ L, E, C, H, E, _, _, P, A, P, A, _, _],
                [ _, _, _, _, M, A, M, A, _, _, B, _, _],
                [ _, _, _, _, I, _, _, B, _, _, U, _, _],
                [ _, J, _, _, L, _, _, L, _, P, E, L, O],
                [ S, A, N, T, I, A, G, O, _, _, L, _, _],
                [ _, C, _, _, O, _, _, _, O, J, O, S, _],
                [ _, Q, _, _, _, _, H, _, _, _, S, _, _],
                [ _, U, _, C, _, T, I, O, S, _, _, _, _],
                [ _, I, _, A, _, _, J, _, I, _, _, _, _],
                [ H, E, R, M, A, N, O, S, _, _, _, _, _],
                [ _, _, _, A, _, _, S, _, _, _, _, _, _],
            ];

            this.wordStarts = [
                [ 1, 0, 0, 0, 2, 0, 0, 3, 0, 0, 4, 0, 0],
                [ 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0],
                [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                [ 0, 6, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0],
                [ 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                [ 0, 0, 0, 0, 0, 0, 0, 0, 9, 0, 0, 0, 0],
                [ 0, 0, 0, 0, 0, 0,10, 0, 0, 0, 0, 0, 0],
                [ 0, 0, 0,11, 0,12, 0, 0,13, 0, 0, 0, 0],
                [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                [14, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            ];

            this.hintsH = [
                {n: 1, t: "¿Qué tomamos al despertar y antes de dormir?", a: "LECHE"},
                {n: 3, t: "¿Quién es Santiago Arizti Bonilla?", a: "PAPA"},
                {n: 5, t: "¿Quién es Jacqueline Jassel Fletes Torres?", a: "MAMA"},
                {n: 7, t: "¿Qué nos peinamos con un peine?", a: "PELO"},
                {n: 8, t: "Nombre del papá de Emilio y Pablo.", a: "SANTIAGO"},
                {n: 9, t: "¿Qué nos duele si nos entra jabón?", a: "OJOS"},
                {n: 12, t: "¿Cómo se les dice a los hermanos de tus papás?", a: "TIOS"},
                {n: 14, t: "¿Qué son Emilio y Pablo?", a: "HERMANO"},
            ];
            this.hintsV = [
                {n: 2, t: "Nombre del primogénito de la familia Arizti Fletes.", a: "EMILIO"},
                {n: 3, t: "Se le conoce también como Pablancas.", a: "PABLO"},
                {n: 4, t: "¿Cómo se le dice a los papás de tus papás?", a: "ABUELOS"},
                {n: 6, t: "Nombre de la hija de la abuela Lupita.", a: "JACQUIE"},
                {n: 10, t: "Cuando te casas vas a tener...", a: "HIJOS"},
                {n: 11, t: "La usamos para dormir.", a: "CAMA"},
                {n: 13, t: "¿Cómo le decimos a mamá cuando nos da una órden?", a: "SI"},
            ];
        }

    }

</script>

<template>

    <div class="cmx-cw-container">
        <h1>
            Crucigrama del Chants 0001
        </h1>
        <div>
            <label>
                <input type="checkbox" v-model="cheat">
                Mostrar respuestas
            </label>
        </div>
        <div
            class="cmx-cw-grid"
        >
            <div
                v-for="(r, i) in letters"
                class="cmx-cw-row"
            >
                <div
                    class="cmx-cw-cell-cnt"
                    v-for="(letter, j) in r"
                >
                    <PlayCrosswordCell
                        :letter="letter"
                        :wordStart="wordStarts[i][j]"
                        :cheat="cheat"
                    />
                </div>
            </div>
        </div>

        <div class="cmx-cw-hints mt-3">
            <h4>Horizontales</h4>
            <ul>
                <li v-for="h in hintsH">
                    {{ h.n }}. {{ h.t }}
                    <span class="cheat-lbl" v-if="cheat">({{ h.a }})</span>
                </li>
            </ul>
            <h4>Verticales</h4>
            <ul>
                <li v-for="h in hintsV">
                    {{ h.n }}. {{ h.t }}
                    <span class="cheat-lbl" v-if="cheat">({{ h.a }})</span>
                </li>
            </ul>
        </div>
    </div>

</template>

<style lang="scss">

    .cmx-cw-container {
        max-width: 650px;
        margin: 20px auto 0;

        .cmx-cw-grid {
        }

        .cmx-cw-row {
            display: flex;
            justify-content: center;
        }

        .cmx-cw-cell-cnt {
            flex: 0 0;
        }

        .cmx-cw-hints {
            width: 500px;
            margin: 0 auto;

            .cheat-lbl {
                color: brown;
            }
        }
    }

</style>
